* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #efe;
  color: darkgreen;
}

h1 {
  margin-bottom: 16px;
}

p {
  margin-bottom: 24px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}
